@model Admin_Page.Models.AuthorizeCode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AuthorizeCode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expiredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expiredDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
